#################################################################################################
# Creates a new repository which is needed for the new profile.  This new profile is based on 
# this template.  After a short delay to ensure that the first commit completes, it dispatches
# the InitRepo workflow on the new repo, passing in the parameters needed for the new profile.
#################################################################################################
name: Create New Profile Repository
on:
  workflow_dispatch:
    inputs:
      author_name:
        description: 'Profile Author (defaults to your user name)'
        required: false
        default: ''
        type: "string"
      vehicle:
        description: "Vehicle Name of Aircraft (eg Mosquito FB Mk VI)"
        required: true
        default: ""
        type: "string"
      aircraft:
        description: "Longer name of the Aircraft to be used in documentation (eg DH.98 Mosquito FB Mk. VI)"
        required: true
        default: ""
        type: "string"
      minheliosrelease:
        description: "Minimum Helios Release Needed for Profile to run"
        required: true
        default: "1.6.6150.0000"
        type: "string"
env:
  GITHUB_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
  VEHICLE: ${{inputs.vehicle}}
  VEHICLECOMMONNAME: ${{inputs.aircraft}}
  MINHELIOSRELEASE: ${{inputs.minheliosrelease}}
jobs:
  create-repo:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repository
        uses: actions/checkout@v3

      - name: Create a new repository from template
        run: |
          # Check if the 'author_name' input is blank
          if [ -z "${{ github.event.inputs.author_name }}" ]; then
            echo "Input 'author_name' is blank, using actor (${GITHUB_ACTOR}) instead."
            AUTHOR_NAME="${GITHUB_ACTOR}"
          else
            echo "Using provided input: '${{ github.event.inputs.user_name }}'"
            AUTHOR_NAME="${{ github.event.inputs.author_name }}"
          fi

          TEMPLATE_OWNER="HeliosProfiles"
          TEMPLATE_REPO="Template"
          NEW_REPO_NAME="DCS-${{ github.event.inputs.vehicle }}-Profile-by-${AUTHOR_NAME}"
          DESCRIPTION="Helios Profile for the ${{ github.event.inputs.vehicle }} in DCS World"
          NEW_REPO_NAME=$(echo "$NEW_REPO_NAME" | tr ' ' '-')
          echo "REPO_NAME=${NEW_REPO_NAME}" >> $GITHUB_ENV
          echo "AUTHOR=${AUTHOR_NAME}" >> $GITHUB_ENV
          echo "PROFILE_NAME=${{inputs.aircraft}}_${AUTHOR_NAME}" >> $GITHUB_ENV

          curl -X POST \
            -H "Authorization: token $GITHUB_TOKEN" \
            -d @- \
            https://api.github.com/repos/${TEMPLATE_OWNER}/${TEMPLATE_REPO}/generate \
            <<EOF
          {
            "owner": "HeliosProfiles",
            "name": "$NEW_REPO_NAME",
            "description": "$DESCRIPTION",
            "private": false,
            "include_all_branches":false
          }
          EOF
      - name: Confirm repository creation
        run: |
          echo "New repository ${{ github.event.inputs.repo_name }} has been created successfully!"
          sleep 10  # Delay for 10 seconds

      - name: Trigger Initialisation of the new Repo
        run: |
          # Set up variables
          TARGET_REPO="HeliosProfiles/${{ env.REPO_NAME}}" 
          WORKFLOW_FILE="InitRepo.yml"  # The workflow file in new Repo
          echo "Target Repo is ${TARGET_REPO}"
          echo "Workflow is ${WORKFLOW_FILE}"
          
          # Trigger the workflow using the GitHub API (POST request)
          curl -X POST \
            -H "Authorization: token $GITHUB_TOKEN" \
            -H "Accept: application/vnd.github.v3+json" \
            -d @- \
            "https://api.github.com/repos/${TARGET_REPO}/actions/workflows/${WORKFLOW_FILE}/dispatches" \
            <<EOF
          {
            "ref": "main",
            "inputs": {
              "_vehicle": "${{ env.VEHICLE }}",
              "_aircraft": "${{ env.VEHICLECOMMONNAME }}",
              "_minheliosrelease": "${{ env.MINHELIOSRELEASE }}",
              "_author": "${{ env.AUTHOR }}"
              }
          }
          EOF
